#root {
    font-family: 'Mukta', sans-serif;
}


header {
    display: flex;
    justify-content: center;
    padding: 30px;
}

header > * {
    margin: 2px;
}

label {
    font-size: 22px;
    font-style: italic;
}


#weather, #forecast {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

tr {
    display: flex;
}

th {
    width: 150px;
}

td {
    width: 150px;
}

