#root {
    font-family: 'Mukta', sans-serif;
}


header {
    display: flex;
    justify-content: center;
    padding: 30px;
}

header > * {
    margin: 2px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    font-size: 22px;
    /* font-style: italic; */
}

.btn-light {
    display: flex;
    align-items: center;
    justify-content: center;
}

#cityName:focus {
    outline-color: rgb(128, 193, 128);
}


#weather, #forecast {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

main {
    /* display: none; */
}

table {
    margin: 10px;
    overflow: scroll;
    width: 980px;
}

tr {
    display: flex;
    line-height: 35px;
}

th:first-child {
    width: 200px;
    text-align: center;
    font-size: 18px;
}

td, #time {
    width: 170px;
    text-align: center;
}

#btn-container {
    display: flex;
    justify-content: center;
}

#weather-btn, #forecast-btn {
    padding: 3px;
    margin: 10px;
    width: 200px;
}
